// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.albums-gallery {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 30px auto;
}

.album-gallery-item {
  background-position: center;
  margin: 0 10px 10px 0;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 35px rgba(0,0,0,.6);
  width: 264px;
  height: 264px;
}

.album-link-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg,rgba(0,0,0,.9) 0,transparent 50%,transparent);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.901961) 0px, transparent 50%, transparent);
}

.album-gallery-tools {
  position: absolute;
  bottom: 20px;
  color: white;
  padding: 0 20px;
  left: 0;
  right: 0;
  text-shadow: 0 1px 1px #000;
  transition: bottom .15s ease-out;
}

.album-gallery-item:hover .album-gallery-tools {
  bottom: 50px;
}

.album-gallery-item:hover #album-gallery-delete {
  opacity: 1;
}

.album-gallery-tools h4 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 300;
  margin: 0;
  cursor: pointer
}

.album-gallery-tools span {
  font-size: 14px;
}

#album-gallery-delete {
  opacity: 0;
  transition: .15s opacity ease;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

// /------------------------------ALBUM UPLOAD----------------------------/

.album-upload-modal {
  padding: 40px;
}

.album-upload-toggler {
  margin: 0 auto;
  padding: 10px 0;
  color: #737b80;
  cursor: pointer;
  width: 80%;
  text-align: right
}

.create-album {
  margin-left: 5px;
}

.album-upload-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.fa-times {
  color: #f2624f;
  margin-right: 25px;
  font-size: 20px;
  cursor: pointer
}

.album-upload-stream {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.album-upload-stream div {
  background-size: cover;
  background-position: center;
  width: 100px;
  margin: 0 5px 5px 0;
  height: 100px;
  position: relative
}

.album-select {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
}

.album-info {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #9ea4a7;
}

.album-info input {
  border: none;
}

.album-info input:focus {
  outline: none
}

#album-upload-form {
  height: auto;
  margin-bottom: 15px;
}


#album-upload-button {
  margin-right: 35px;
}

.album-upload-item {
  cursor: pointer;
}

.included {
  box-shadow: inset 0 0 0 3px #128fdc;
  border-radius: 3px;
}

.no-check {
  display: none;
}

.check {
  display: inline-block;
  color: white;
  vertical-align: middle;
  line-height: 22px;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  right: 0;
  top: 0;
  position: absolute;
  margin-right: 0;
  box-shadow: inset 0 0 0 10px #128fdc;
}

.invalid-upload {
  opacity: 0.6;
}
