.explore-thumb img {
  height: auto;
  max-width: 100%
}

.explore-thumb {
  width: 49%;
  margin: 0;
  display: inline-block;
  padding: 1px 3px;
}

@media (min-width: 1100px) {
  .explore-thumb {
    width: 32.5%;
  }
}

.explore-item-bottom {
  position: absolute;
  bottom: 5px;
  width: 98%;
  left: 3px;
  font-size: 14px;
  color: white;
  height: 60px;
  opacity: 0;
  background: transparent;
  transition: opacity 100ms, background 100ms;
  display: flex;
  align-items: flex-end;
}

.explore-item-bottom > * {
  opacity: inherit;
  transition: opacity 100ms;
}

.explore-thumb:hover .explore-item-bottom {
  opacity: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0.34) 58%, rgba(0,0,0,0.52) 88%, rgba(0,0,0,0.52) 99%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0.34) 58%,rgba(0,0,0,0.52) 88%,rgba(0,0,0,0.52) 99%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0.34) 58%,rgba(0,0,0,0.52) 88%,rgba(0,0,0,0.52) 99%);
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 24px;
}

.container h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 5px 0;
}

.explore-item-text {
  padding-left: 6px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px
}

.explore-item-title {
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0;
}

.explore-item-owner {
  color: #c0c0c0;
}
.explore-item-owner:hover {
  font-weight: 400;
  color: white;
}
