.explore-thumb img {
  height: auto;
  max-width: 100%
}

.explore-thumb {
  width: 49%;
  min-height: 180px;
  min-width: 180px;
  margin: 0;
  display: inline-block;
  padding: 1px 3px;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .explore-thumb {
    width: 32.5%;
  }
}

.explore-item-bottom {
  position: absolute;
  bottom: 5px;
  width: 98%;
  left: 3px;
  font-size: 14px;
  color: white;
  height: 60px;
  opacity: 0;
  background: transparent;
  transition: opacity 100ms, background 100ms;
  display: flex;
  align-items: flex-end;
}

.explore-item-bottom > * {
  opacity: inherit;
  transition: opacity 100ms;
}

.explore-thumb:hover .explore-item-bottom {
  opacity: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0.34) 58%, rgba(0,0,0,0.52) 88%, rgba(0,0,0,0.52) 99%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0.34) 58%,rgba(0,0,0,0.52) 88%,rgba(0,0,0,0.52) 99%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0.34) 58%,rgba(0,0,0,0.52) 88%,rgba(0,0,0,0.52) 99%);
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 24px;
}

.container h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 5px 0;
}

.explore-item-text {
  padding-left: 6px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px
  position: relative;
  z-index: 600;
}

.explore-item-title {
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0;
}

.explore-item-owner {
  color: #c0c0c0;
}
.explore-item-owner:hover {
  font-weight: 400;
  color: white;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

/*----------------------------JUSTIFIED GALLERY-------------------------*/

#caption-patch {
  font-size: 14px;
  color: white;
  height: 60px;
  opacity: 0;
  background: transparent;
  transition: opacity 100ms, background 100ms;
  display: flex;
  padding: 20px 15px;
  align-items: flex-end;
}

.justified-gallery-item:hover #caption-patch {
  opacity: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0.34) 58%, rgba(0,0,0,0.52) 88%, rgba(0,0,0,0.52) 99%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0.34) 58%,rgba(0,0,0,0.52) 88%,rgba(0,0,0,0.52) 99%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0.34) 58%,rgba(0,0,0,0.52) 88%,rgba(0,0,0,0.52) 99%);
}


.album-show-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white !important;
  font-size: 18px;
  z-index: 3000000;
  opacity: 0;
  cursor: pointer;
  transition: opacity .2s ease,width .2s ease;
  width: 0;
  z-index: 1000
}

.justified-gallery-item:hover .album-show-delete {
  opacity: 1;
  width: 20px;
}

.justified-gallery-item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.explore-item-tool {
  color: white;
  padding-left: 15px;
}

.explore-item-tool i {
  margin-right: 3px;
}

.photo-interactions {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
