
.lightbox-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 0 50px;
  display: flex;
}

.lightbox-container span {
  position: absolute;
}

.lightbox-r-arrow {
  right: 10px;
  margin: auto 0;
}

.lightbox-l-arrow {
  left: 10px;
  margin: auto;
}

.lightbox-image{
  margin: auto;
  max-width: 90%;
}

.lightbox-image img {
  height: 100vh;
  max-width: 100%;
}

.lightbox-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  z-index: 103;
  padding: 0 20px;
  height: 130px;
  opacity: 0;
  transition: opacity .75s ease;
  background: linear-gradient(0deg,transparent,rgba(0,0,0,.45));
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.minimize {
  margin-left: auto;
}

.lightbox-header div:first-child {
  padding-right: 20px;
}

.lightbox-header:hover {
  opacity: 1;
}

.avatar {
  width: 60px;
  height: 60px;
}

.avatar img {
  width: 100%;
  height: auto;
}

@media(max-width: 1200px){
  .lightbox-image {
    margin: auto;
    width: 100%
  }

  .lightbox-container {
    padding: 0;
  }

  .lightbox-image img {
    width: 100%;
    height: auto;
  }
}
