.main-image-container {
  background: #212124;
  color: #fff;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  height: 600px;
  text-align: center;
}

.main-image {
  display: inline-block;
  padding: 50px 0;
  height: 82%;
}

.main-image img {
  width: auto;
  max-height: 100%;
  display: inline-block;
}

.main-image-floater {
  position: absolute;
  top: 0;
  left: 0;
}

.image-stream {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 37%;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  opacity: 0.5;
  transition: opacity 500ms, bottom 500ms;
}

.photo-nav-r-big {
  right: 0;
  padding-right: 22px;
  justify-content: flex-end;
}

.photo-nav-l-big, .photo-nav-r-big {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  align-items: center;
  display: flex;
  font-size: 36px;
  color: white;
}

.photo-nav-l-big {
  justify-content: flex-start;
  left: 0;
  padding-left: 22px;
}

.image-stream:hover {
  opacity: 1;
}

.image-stream:hover {
  bottom: 8px;
  height: 60px;
  left: 35%;
}

.image-stream:hover #selected {
  border: 1px solid #fff;
}

.image-stream:hover .slider-item{
  width: 55px;
  height: 55px;
}

.slider-item {
  width: 25px;
  height: 25px;
  margin: 0 3px;
  position: relative;
  transition: width 500ms, height 500ms;
}

.slider-item img {
  width: 100%;
  height: 100%;
}

#disabled {
  display: none;
}

.back-link {
  position: absolute;
  z-index: 500;
  left: 5px;
  top: 5px;
}

.expand {
  position: absolute;
  z-index: 500;
  cursor: pointer;
  right: 5px;
  top: 5px;
}

/*----------------------Text content area---------------------------*/

.p-detail-main {
  width: 70%;
  margin: 25px auto 0 auto ;
}

.user-section {
  float: left;
  margin-right: 60px;
}

.info {
  display: flex;
  flex-direction: column;
  height: 80px;
  padding-bottom: 20px;
  justify-content: space-around;
}

.favorites {
  padding: 15px 0;
  margin-left: 80px;
  color: #006dac;
  font-weigh: 600;
  font-size: 14px;
  border-bottom: 1px solid #cfd6d9;
}
.p-detail-main > * {
  width: 45%;
}

.extras-section {
  float: right;
}

.u-section-avatar {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.u-section-avatar img {
  max-width: 100%;
  height: auto;
}

.main-info-container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #cfd6d9;
}

.extra-top-row{
  display: flex;
  justify-content: flex-end;
}

.taken-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
}

.copyright:after {
  content: 'All rights reserved';
  color: #006dac;
  font-size: 14px;
}
