.main-image-container {
  background: #212124;
  padding: 50px 0;
  display: flex
}

.main-image {
  margin: 0 auto;
  width: 65%;
}

.main-image img {
  max-width: 100%;
}

.main-image-floater {
  position: absolute;
  top: 0;
  left: 0;
}
