.main-image-container {
  background: #212124;
  padding: 50px 0;
  display: flex;
  color: #fff;
  position: relative;
  font-size: 14px;
  font-weight: 300;
}

.main-image {
  margin: 0 auto;
  width: 65%;
}

.main-image img {
  max-width: 100%;
}

.main-image-floater {
  position: absolute;
  top: 0;
  left: 0;
}

.image-stream {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 39%;
  height: 40px;
  margin: 0 auto;
  opacity: 0.5;
  transition: opacity 500ms, bottom 500ms;
}

.image-stream:hover {
  opacity: 1;
}

.image-stream:hover {
  bottom: 8px;
  height: 60px;
  left: 35%;
}

.image-stream:hover #selected {
  border: 1px solid #fff;
}

.image-stream:hover .slider-item{
  width: 55px;
  height: 55px;
}

.slider-item {
  width: 25px;
  height: 25px;
  margin: 0 3px;
  position: relative;
  transition: width 500ms, height 500ms;
}

.slider-item img {
  width: 100%;
  height: 100%;
}

#disabled {
  display: none;
}

.main-image-container > a {
  position: absolute;
  left: 5px;
  top: 5px;
}

.main-image-container > span {
  position: absolute;
  right: 5px;
  top: 5px;
}
