/*SESSION FORM STYLES*/

.sign-in-images img:nth-child(2) {
  width: 49px;
  margin-left: -17px;
  margin-bottom: 3px;
}

.sign-in-images img:first-child {
  width: 170px;
}

.sign-in-images {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.signin {
  padding: 50px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  border-radius: 3px;
  text-align: center;
}

.signin-main {
  width: 390px;
  margin: 30px auto;
}

.signin form {
  display: flex;
  flex-direction: column;
  height: 260px;
}

.signin form > * {
  margin-bottom: 40px;
}

.signin h1 {
  margin: 40px 0;
  font-size: 1.125em;
  text-align: center;
}

.signin button {
  margin-top: 5px;
  background: #4ca9ff;
  height: 45px;
  padding: .65em;
  border: none;
  color: white;
  border-radius: 4px;
}

.signin form > input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #cfd2d5;
  padding: 0 .5em;
}

.signin-gradient {
  height: 10px;
  background: linear-gradient(to right,#188fff 0,#400090 100%);
}

.entry-form-change-link {
  margin-left: 15px;
  color: rgb(85, 26, 139);
  cursor: pointer;
}

.signin-errors {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #d13c41;
  margin-top: -24px;
}

.signin-errors li {
  padding: .5em;
  text-align: left;
}

.signin-bottom-row {
  margin: 10px 0;
  height: auto;
}
