#splash-nav {
  justify-content: flex-end;
  width: 100%
}

#splash-nav li:first-child {
  margin-right: auto;
}

.splash-main-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.splash-main-text {
  width: 90%;
  margin: auto;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,.4);
}

.splash-main-text h1 {
  font-size: 56px;
}

.splash-main-text p {
  margin-bottom: 40px;
  margin-top: 24px;
}

.make-it-pop {
  border: none;
  font-size: 26px;
  padding: 12px 20px;
  text-shadow: none;
}

#splash-sign-up {
  padding: 5px 11px;
  font-size: 16px;
}
