/*TRENDING GALLERY*/

.trending-gallery {
  width: 80%;
  margin: 30px auto;
}

.trending-item {
  width: 23.7%;
  height: 219px;
  background-size: cover;
  background-position: center;
  margin: 15px 15px 15px 0;
}

.tag-gallery-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(79,79,79,0.4) 4%,rgba(79,79,79,0.4) 6%,rgba(73,73,73,0.4) 96%,rgba(73,73,73,0.4) 99%);
  opacity: 1;
  transition: opacity 300ms;
}

.trending-item:hover .tag-gallery-item-overlay {
  opacity: .3;
}

.trending-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.trending-item span{
  color: white;
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-weight: 600;
  letter-spacing: 0.2em;
  z-index: 500;
  position: absolute;
  width: 100%;
  text-align: center
}

/*---------------------------BY TAG------------------------------*/

.centered-by-tag {
  width: 80%;
  margin: 24px auto;
}

.centered-by-tag h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 5px 0;
}
